body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
margin-top: 2vh;
}
p{
    margin-left: 5vw;
    margin-right: 5vw;
}
h1{
    margin-left: 5vw;
}
#navButtons{
    width: 20vw;
    height:4vh;
    background-color: lightblue;
    font-weight: bolder;
    border:none;
    border-radius: 5%;
}

.leftnavButton{
    margin-left: 8vw;
}

#navButtons:hover{
    background-color:bisque;
}




/*TICTACTOE*/
.tictactoeButton{
    background-color: antiquewhite;
    width:12vh;
    height:12vh;
}

#button1TTT,#button2TTT,#button3TTT,#button4TTT,#button5TTT,#button6TTT,#button7TTT,#button8TTT,#button9TTT{

}
#button1TTT,#button4TTT,#button7TTT{
    margin-left: 38vw;
    justify-content: center;
    align-items: center;
}


